@use "../abstracts" as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: clamp(0.9em, 1vw, 1.2em);
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-60;
  color: $color-30;
  font-family: $font;
}

main {
  margin: 0 auto;
  width: 1080px;
}

@media (max-width: 1080px) {
  main {
    width: initial;
  }
}