.about-me {
  >div {
    padding: 0.5em;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 810px;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.4;
  }
}