.footer-layout {
  background-color: var(--footer-bg);
  padding: 0.5em;

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
  }

  .copyright {
    font-size: 0.8em;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0.3em;
    border-radius: 50%;
    text-decoration: none;
    color: var(--color-30);
  }


  a:hover {
    color: var(--active-color);
  }
}