@use "../abstracts" as *;

.headline {
  height: 100svh;

  >div {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  h1 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
  }

  .icon {
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
  }

}