.projects {
  scroll-margin-top: 3rem;

  >div {
    padding: 0.5em;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 810px;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1em;
  }

  .project-list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 810px) {
  .projects {
    >div {
      width: initial;
    }
  }
}