@use "../abstracts" as *;

.skills {
  scroll-margin-top: 60svh;

  >div {
    padding: 0.5em;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 810px;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1em;
  }

  .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
  }

  .skill-list>* {
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill-list>* p {
    font-size: 1.2rem;
    margin-top: 1em;
  }

  svg {
    height: 50%;
    width: 50%;
    background-color: $color-10;
    padding: 0.3em;
    border-radius: 0.5em;
  }
}

@media (max-width: 810px) {
  .skills {
    >div {
      width: initial;
    }

    .skill-list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}