@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$color-60: hsl(120, 4%, 96%);
$color-30: hsl(120, 4%, 4%);
$color-10: hsl(240, 100%, 50%);
$bg-color: hsl(120, 4%, 99%);
$main-font: 'Roboto', sans-serif;