@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$color-60: hsl(229, 22%, 65%);
$color-30: hsl(229, 6%, 15%);
$color-10: hsl(229, 30%, 40%);
$main-font: 'Roboto', sans-serif;